<title>{{title}}</title>
<!-- <div class="jumbotron jumbotron-fluid">
  <div class="container"> -->
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1>Chase Bank Customer Information</h1>
    <br>

    <div class="form-group">
      <h1>Summary Section</h1>
      <table id="customers">
        <thead>
          <th>Total Assets</th>
          <th>Total Liabilties</th>
          <th>Total Net Worth</th>
        </thead>
        <tbody>
          <td>{{assets}}</td>
          <td>{{liabilities}}</td>
          <td>{{networth}}</td>
        </tbody>
      </table>
      <!-- <label>Total Assets: {{assets}}</label><br>
      <label>Total Liabilties: {{liabilities}}</label><br>
      <label>Total Net Worth: {{networth}}</label><br> -->
    </div>
    <br>
    <div class="form-group">
      <h1>Transaction History</h1>
      <table id="customers">
        <thead>
          <tr>
            <th>Date</th>
            <th>Type</th>
            <th>Amount</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let t of transactions ">
            <!-- <tr *ngFor="let t of transactions | paginate: { itemsPerPage: 1, currentPage: p, totalItems: count}; let i = index"> -->
            <td>{{t.date}}</td>
            <td>{{t.type}}</td>
            <td>${{t.amount}}</td>
            <td>{{t.description}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)"></pagination-controls> -->
    <br>

    <div class="form-group">
      <h1>Loan Overview</h1>
      <table id="customers">
        <thead>
          <tr>
            <th>Type</th>
            <th>Outstanding Amount</th>
            <th>Rate</th>
            <th>Due Date</th>
            <th>Next Payment</th>
            <th>Explore</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let l of loans">
            <td>{{l.type}}</td>
            <td>${{l.oustanding}}</td>
            <td>{{l.rate}}</td>
            <td>{{l.dueDate}}</td>
            <td>${{l.payment | number:'1.2-2'}}</td>
            <!-- <td><button type="button" class="btn btn-info" routerLink="/Loan/loan-info" (click)="loanInfo(l)">Info</button> </td> -->
            <td><a (click)="loanInfo(l)" class="btn btn-info" role="button">Info</a></td>
            <!-- <td><a routerLink="/loan/loan-info" class="btn btn-info">Info</a></td> -->
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>