<title>{{title}}</title>
<!-- <div class="jumbotron jumbotron-fluid">
  <div class="container"> -->
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1>Chase Bank Customer Information</h1>
    <br>

    <div class="form-group">
      <h1>Summary Section</h1>
      <table id="customers">
        <thead>
          <th>Total Assets</th>
          <th>Total Liabilties</th>
          <th>Total Net Worth</th>
        </thead>
        <tbody>
          <td>${{networth.assets | number:'1.2-2'}}</td>
          <td>${{networth.liabilities | number:'1.2-2'}}</td>
          <td>${{networth.assets - networth.liabilities | number:'1.2-2'}}</td>
        </tbody>
      </table>
      <div>
        <canvas id="networthChart"></canvas>
      </div>
    </div>
    <br>

    <div class="form-group">
      <h1>Transaction History</h1>
      <table id="customers">
        <thead>
          <tr>
            <th>Date</th>
            <th>Type</th>
            <th>Amount</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let t of transactions ">
            <!-- <tr *ngFor="let t of transactions | paginate: { itemsPerPage: 1, currentPage: p, totalItems: count}; let i = index"> -->
            <td>{{t.date}}</td>
            <td>{{t.type}}</td>
            <td>${{t.amount | number:'1.2-2'}}</td>
            <td>{{t.description}}</td>
          </tr>
        </tbody>
      </table>
      <!-- <app-pagination></app-pagination> -->
      <!-- <mat-paginator [length]="100" [pageSize]="10"></mat-paginator>      -->
      <!-- <div pagination [totalItems]="totalItems" [itemsPerPage]="itemsPerPage" [currentPage]="currentPage"></div> -->
    </div>
    <!-- <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)"></pagination-controls> -->
    <br>

    <div class="form-group">
      <h1>Loan Overview</h1>
      <table id="customers">
        <thead>
          <tr>
            <th>Type</th>
            <th>Outstanding Amount</th>
            <th>Rate</th>
            <th>Due Date</th>
            <th>Next Payment</th>
            <th>Explore</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let l of loanlist">
            <td>{{l.type}}</td>
            <td>${{l.oustanding | number:'1.2-2'}}</td>
            <td>{{l.rate}}%</td>
            <td>{{l.dueDate}}</td>
            <td>${{l.payment | number:'1.2-2'}}</td>
            <!-- <td><button type="button" class="btn btn-info" routerLink="/Loan/loan-info" (click)="loanInfo(l)">Info</button> </td> -->
            <td><a (click)="loanInfo(l)" class="btn btn-info" role="button">Info</a></td>
            <!-- <td><a routerLink="/loan/loan-info" class="btn btn-info">Info</a></td> -->
          </tr>
        </tbody>
      </table>
    </div>
    <br>
    <!-- <app-loan></app-loan> -->
    <div class="form-group">
      <h1>Budgeting Section</h1>
      <table id="customers">
        <thead>
          <tr>
            <th>Type</th>
            <th>Category</th>
            <th>Amount</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let l of budget">
            <td>{{l.type}}</td>
            <td>{{l.category}}</td>
            <td>${{l.amount | number:'1.2-2'}}</td>
          </tr>
        </tbody>
      </table>
      <br>
      <button (click)="openBudget()" class="btn btn-info">Create Budget</button>
      <br>
      <br>
      <form name="signupForm" *ngIf="open">
        <div class="form-group">
          <label>Type</label><br>
          <label>
            <input type="radio" name="color" (change)="selectType = 'Want'"> Want
          </label><br>
          <label>
            <input type="radio" name="color" (change)="selectType = 'Need'"> Need
          </label>
        </div>
        <br>
        <div class="form-group">
          <label>Category</label><input type="text" class="form-control" [value]="category" (change)="changeCategory($event)">
        </div>
        <br>
        <div class="form-group">
          <label>Amount</label><input type="number" class="form-control" [value]="amount" (change)="changeAmount($event)">
        </div>
        <br>
        <a (click)="createBudget()" class="btn btn-info" role="button">Add to Budget</a>
        <br>
        <br>
        <a (click)="closeBudget()" class="btn btn-info" role="button">Close Form</a>
      </form>
      <div>
        <canvas id="budgetChart"></canvas>
      </div>

    </div>
    <br>

    <div class="form-group">
      <h1>Account Alerts</h1>
    </div>
    <br>

  </div>
</div>