<title>{{title}}</title>
<!-- <div class="jumbotron jumbotron-fluid">
  <div class="container"> -->

    <h1>Chase Bank Customer Information</h1>
    <br>

<div class="form-group">
  <h1>Summary Section</h1>
  <label>Total Assets: {{assets}}</label><br>
  <label>Total Liabilties: {{liabilities}}</label><br>
  <label>Total Net Worth: {{networth}}</label><br>
  <!-- <ng-pie-chart [data]="[{
        label: 'Apples',
        value: 10
      }, {
        label: 'Oranges',
        value: 20
      }, {
        label: 'Bananas',
        value: 30
      }]"></ng-pie-chart> -->

</div>
<!-- </div>
</div> -->
<br>
<div class="form-group">
  <h1>Transaction History</h1>
  <table id="customers">
    <thead>
      <tr>
        <th>Date</th>
        <th>Type</th>
        <th>Amount</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let t of transactions">
        <td>{{t.date}}</td>
        <td>{{t.type}}</td>
        <td>${{t.amount}}</td>
        <td>{{t.description}}</td>
      </tr>
    </tbody>
  </table>
</div>
<br>

<div class="form-group">
  <h1>Loan Overview</h1>
  <table id="customers">
    <thead>
      <tr>
        <th>Type</th>
        <th>Outstanding Amount</th>
        <th>Rate</th>
        <th>Due Date</th>
        <th>Next Payment</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let l of loans">
        <td>{{l.type}}</td>
        <td>${{l.oustanding}}</td>
        <td>{{l.rate}}</td>
        <td>{{l.dueDate}}</td>
        <td>${{l.payment | number:'1.2-2'}}</td>
      </tr>
    </tbody>
  </table>
</div>

<!-- <app-transactions></app-transactions> -->
<router-outlet></router-outlet>